3. Functional Requirements
3.4.1. Requirements
Accounts
	authCheck
	register					
		Normal					#Done (excluding validation, authentication, autherization and bucket creation)
		Social Media 
	Login
		Normal 
			Remember
		Social Media
	Logout
	update to cert (?)
	update account
		password request
		reset pass
	get favourites 
	get liked
	disable
		account
		entry
	
	Services
		get college list
		get program list
		get classes
		get classified
		get Entries
		get Entry
		get comments for post
	
	Entry
		View					#Done (excluding validation, authentication, autherization)
		post/ add comment 		#Done (excluding validation, authentication, autherization)
		add rating				#Done (excluding validation, authentication, autherization)
		File					// Need to figure out how S3 works with Lambda
			upload
			download
		Fav 
		edit
		delete